<div class="container">
    <div class="form">
      <div class="contact-info">
          <h3 class="title">Dirección</h3>
          <p class="text"> Contactenos por cualquier medio, para más información. </p>
          <div class="info">
              <div class="social-information"><i class="fa-solid fa-location-dot"></i>
                  <p>Parque Vía #118 Col. Parque manzanares, CP.47510. León, Gto.</p>
              </div>
              <div class="social-information"> <i class="fa-regular fa-envelope"></i>
                  <p>{{email}}<br>{{emailtwo}}

                  </p>
              </div>
              <div class="social-information"> <i class="fa-solid fa-mobile"></i>
                  <p>+52 477 66 35 315          
                    <br> +52 477 58 15 385</p>
              </div>
          </div>
          <div class="social-media">
              <p>También sigenos:</p>
              <div class="social-icons"> 
                <a href="#"> <i class="fa-brands fa-facebook"></i></a> 
                <a href="#"><i class="fa-brands fa-square-x-twitter"></i> </a> 
                <a href="#"> <i class="fa-brands fa-instagram"></i> </a> 
                <a href="#"> <i class="fa-brands fa-linkedin"></i> </a>
             </div>
          </div>
      </div>
        <div class="contact-info-form"> <span class="circle one"></span> <span class="circle two"></span>
            <form action="#" onclick="return false;" autocomplete="off">
                <h3 class="title">Escribenos</h3>
                <div class="social-input-containers"> <input type="text" name="name" class="input" placeholder="Nombre" /> </div>
                <div class="social-input-containers"> <input type="text" name="lastname" class="input" placeholder="Apellido" /> </div>
                <div class="social-input-containers"> <input type="email" name="email" class="input" placeholder="E-mail" />  </div>
                <div class="social-input-containers"> <input type="tel" name="phone" class="input" placeholder="Teléfono" />  </div>
                <div class="social-input-containers"> <input type="text" name="affair" class="input" placeholder="Asunto" />  </div>
                <div class="social-input-containers textarea"> <textarea name="message" class="input" placeholder="Mensaje"></textarea> </div> 
                <input type="submit" value="Enviar" class="btn" />
            </form>
        </div>
    </div>
  </div>